ul.formato{
    padding-left: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    margin-bottom: 15px;
}

.divWrapper{
    width: 100%;    
    overflow: hidden;    
}

.divLeft{
    width: 70%;
    overflow: hidden;
    float: left;           
}

.div-side-by-side--vertical-overflow{
    height: 250px;
    width: 50% !important;
    flex: 2;
    overflow-y: scroll;    
}

.divBoxLeft{
    width: 85px;
    overflow: hidden;
    float: left;     
}

.divCenter{
    width: auto;
    float:right;
}

.divRight{
    width: auto;
    float:right;
    margin-left: auto; 
    margin-right: 0;
    padding-right: 5px;
}

.divBoxRight{
    width: auto;
    float:right;
    margin-left: auto; 
    margin-right: 0;
    padding-right: 5px;
}

.divUp{
    padding-left: 15px;
}
.divDown{
    padding-top: 30px;
    padding-right: 7px;    
}

.green-icon{
    color: green;
}

.red-icon{
    color: red;
}

