ul.formato{
    padding-left: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    margin-bottom: 15px;
}

.divWrapper{
    width: 100%;
    /* border: 1px solid black; */
    overflow: hidden; /* add this to contain floated children */
    /* background-color: green; */
}

.divLeft{
    width: 85px;
    overflow: hidden;
    float: left;    
}

.divCenter{
    width: auto;
    float:right;
}

.divRight{
    width: auto;
    float:right;
    
    
    margin-left: auto; 
    margin-right: 0;    
}

.green-icon{
    color: green;
}

.red-icon{
    color: red;
}

